body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
section header{
    padding-right: 20px;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding:20px ;

}
section header ul{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
    color: rgb(35, 32, 37);
    text-decoration: none;
    font-size: 13px;
}
section header ul li button{
    background-color: rgb(14, 131, 226);
    outline: none;
    padding:8px 14px;
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;


}
section .main{
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .searchbox{
    position: relative;
    width: 100%;
    
    margin-top: 20px;

}
section .main .searchbox .search{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid rgb(180, 166, 166);
    outline: none;
}
section .main .searchbox .icon{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;

}
section .main .buttons {
    margin-top: 20px;

}
section .main .buttons button{
    margin: 0 5px;
    padding: 12px 20px;
    
    color: rgb(68, 65, 65);
    border: none;
    border-radius: 10px;
}
section .main .buttons button:hover{
    background-color: blue;

}
.lang{
    margin-top: 20px;
}

.footer{
    position: absolute;
    
    bottom: 0;
    width: 100%;
    background-color: azure;
}
.row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(80, 74, 74);
}
.row ul {
    align-items: center;
    float: left;
}
.row ul li{
    list-style: none;
    
}
.row ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(21, 24, 59);
    margin:25px ;

}
@media (min-width:1024px){

}

@media (max-width:780px){
    section .main .searchbox{
        margin-right: 20px;
        padding-right: 0px;
    }
    section .main .searchbox .search{
        padding-right: 0px;
    }

}
section header{
    margin-right: 20px;
}
.row ul {
    display: flex;
}
.footer{
    padding-right: 30px;
    padding-left: -30px;
}
